In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('https://tinyurl.com/deloitte-da') #Custom made, shortened kaggle url
data = pd.read_csv('https://deloitte-da.s3.amazonaws.com/interview_dataset.csv') #Uploaded to Amazon S3

data.head(3)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1